
:root {
     --primary-color:#E8EFF0;
     --text-color: hsl(0, 0%, 31%);
     --bg-color: #C5D1D8;
     --bg-card-color: #A9B2C1;
     --transition: color .5s, background-color .5s ease-in-out;
     --border-radius: 0.4em;
     --skills-bar-lenght: 0%;
 
 }


#categories {
     display: flex;
     width: 300px;
     align-items: center;
     justify-content: center;
     margin: 5px;
     text-align: center;
     border-radius: 12px;
}

#categories:hover {
     transition: var(--transition);
     background-color: var(--primary-color);
}


.card_categories {
     display: flex;
     border-radius: 12px;

     flex-direction: column;
     align-items: center;
     background-color: var(--bg-card-color);
     height: fit-content;
}

.card_products {
     background-color: var(--bg-color);
     border-radius: 12px;
     display: flex;
     padding: 8px;
     align-items: center;
     justify-items: center;

}

#card-home {
     padding: 5px;
     border-radius: 12px;
     background-color: #F5F5F5;
     height: fit-content;
     width: fit-content;
}





.text-price {
     font-size: x-large;
}

.btn-home {
     text-align: center;
     font-size: small;
     height: fit-content;
     width: fit-content;
     border-radius: 12px;
     background-color: var(--primary-color);
     transition: var(--transition);
}

.btn-home:hover {
     color: var(--text-color);
     background-color: var(--bg-card-color)
}

.text-title-home {
     font-size: 10px;
}