
:root {
    --primary-color:#E8EFF0;
    --text-color: hsl(0, 0%, 31%);
    --bg-color: #C5D1D8;
    --bg-card-color: #A9B2C1;
    --transition: color .5s, background-color .8s ease-in-out;
    --border-radius: 0.4em;
    --skills-bar-lenght: 0%;

}

.card-similar{
display: flex;
border: 1px solid var(--primary-color);
border-radius: 12px;
align-items: center;
justify-content: center;
height: fit-content;
width: fit-content;



}


@media screen and (max-width: 850px)  {
    .card-similar{
        display: flex;
        flex-wrap: wrap;
       
    }
    
}

.container-similar{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    align-self: center;
    justify-content: center;

    

}

.contaner-text{
    
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.col-12{
 align-self: center;
justify-content: center;
}

.container-suggested{
    display: flex;
     margin: 10px;
    flex-wrap: wrap;

}

.border h1,p{
    color: var(--bg-card-color)
}

.container h2{
    color: var(--bg-card-color);
}

#form-quantity{
    width: fit-content;
}


.btn-cart{
  position: relative;
  bottom: 55px;
   left: 215px;
}

