:root {
    --primary-color: #E8EFF0;
    --text-color: hsl(0, 0%, 31%);
    --bg-color: #C5D1D8;
    --bg-card-color: #A9B2C1;
    --transition: color .5s, background-color .8s ease-in-out;
    --border-radius: 0.4em;
    --skills-bar-lenght: 0%;

}

.card{
    margin: 20px;

}

.info-card{
    display: flex;
  
   
}

